<% include ../partials/header.ejs %>
  <!-- include header and navbar -->
  <% include ../partials/nav.ejs %>


    <!-- include gallery -->
    <% include ../partials/gallery.ejs %>

      <section id="section-page-blog">
        <div class="container2">
          <hr>
          <!-- only logged in user nancy can seethese -->
          <a href="/blog/new" class="blog-btn"> CREATE NEW POST</a>

          <!-- Display Video -->
          <div class="section-about-video">
            <div class="container2">
              <h2> <span class = "underline">About</span> Me</h2>
              <!-- INSERT VIDEO HERE -->

              <iframe src="" frameborder="0" allowfullscreen></iframe>
            </div>
            <!-- close container2-->
            <hr>
          </div>

          <!-- loop display posts -->
          <% blogPosts.forEach(function(Post){ %>
            <div class="col-1-of-2 blog-post">
              <img src="<%= Post.image %>">
              <h2 class="blog-post-title"> <%= Post.title %></h2>
              <p class="blog-post-under-header">
                <%= Post.created.toDateString()%> /
                  <span class="blog-tag">  <%= Post.tag%></span>
              </p>
              <a href="/blog/<%=Post._id %>" class="blog-btn"> Read Post</a>
              <!-- only logged in user nancy can delete these -->
              <a href="/blog/<%=Post._id%>/edit" class="blog-btn"> EDIT POST </a>
            </div>
            <% }); %>
              <!-- end of loop-->

        </div>
      </section>

      <% include ../partials/footer.ejs%>
